.navbar {
    position: fixed !important;
    top: 0;
    z-index: 20;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .navbar {
        top: 0;
        z-index: 20;
        width: 100%;
    }

}

@media screen and(min-width : 770px) {
    .navbar {
        position: fixed !important;
        top: 0;
        z-index: 20;
        width: 100%;
    }
}