@media screen and (max-width: 768px) {
    .navbar {
        position: fixed !important;
        top: 0;
        z-index: 10;
        width: 100%;
    }
}

@media screen and(min-width : 770px) {
    .navbar {
        position: relative;
        top: 0;
        /* z-index: 10;
        width: 100%; */
    }
}