body {
    height: 100vh;
}

.sidebar {
    width: 260px;
    height: 100vh;
    position: sticky;
    top: 0;
    overflow-y: auto;
}

.sidebar a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
}

.sidebar a:hover {
    background-color: #f1f1f1;
}

.sidebar a.active {
    background-color: #0a58ca;
    color: white;
    font-weight: 600;
}

.code {
    width: 100%;
    height: 100px;
    padding: 5px;
    margin: 5px;
}
.margin-end{
    margin-right: 5px;
}