body {
    height: 100vh;
}

.overflow-y-hidden {
    overflow-y: hidden;
}

.d-flex {
    height: 100vh !important;
    margin-top: 5px;
}

.p-4 {
    overflow-y: auto;
    margin-bottom: 60px;
}

.code {
    width: 100%;
    height: 100px !important;
    padding: 5px;
    margin: 5px;
}

.margin-end {
    margin-right: 5px;
}

.btn-outline-primary {
    color: #6c757d !important;
}

.btn-nav {
    border: none !important;
}

.btn-nav:hover {
    color: white !important;
    font-weight: bolder !important;
    text-decoration: underline;
}

@media screen and (max-width : 768px) {

    .d-flex {
        margin-top: 60px;
    }

    .modal-backdrop {
        width: 100% !important;
        height: 100% !important;
    }
}

/* .container-fluid {
    width: 100% !important;
    height: 100% !important;
} */